# Dash in 20 minutes

In [18]:
# Import packages
from dash import Dash, html, dash_table, dcc
import pandas as pd
import plotly.express as px

In [19]:
# Incorporate data
df = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/gapminder2007.csv')

In [20]:
df.head()

       country         pop continent  lifeExp     gdpPercap
0  Afghanistan  31889923.0      Asia   43.828    974.580338
1      Albania   3600523.0    Europe   76.423   5937.029526
2      Algeria  33333216.0    Africa   72.301   6223.367465
3       Angola  12420476.0    Africa   42.731   4797.231267
4    Argentina  40301927.0  Americas   75.320  12779.379640

In [21]:
# Initialize the app
app = Dash(__name__)

In [22]:
# App layout
app.layout = html.Div([
    html.Div(children='My First App with Data and a Graph'),
    dash_table.DataTable(data=df.to_dict('records'), page_size=10),
    dcc.Graph(figure=px.histogram(df, x='continent', y='lifeExp', histfunc='avg'))
])

In [23]:
# Run the app
if __name__ == '__main__':
    app.run(debug=True)